html{
  box-sizing: border-box;
}

.container{
  max-width: 1300px;
  margin: 0 auto;
}

h1,
h2,
h3{
  font-family: "Oswald", sans-serif;
}

header{
  background: #FFF url('https://images.unsplash.com/photo-1452723312111-3a7d0db0e024?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=774e99d16e3f3f0e4138be9d98e4f0f9') no-repeat;
  background-size: cover;
  height: 523px;
  position: relative; /*for absolutely positioned children*/
}

header:before{
  content: "";
  position: absolute;   /*allows me to stretch the image across the entire screen*/
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(16, 98, 170, 0.8)
}

header nav,
header h1,
header h3{
  position: relative;
}

header h1,
header h3{
  text-align: center;
}

header h1{
  text-transform: uppercase;
  top: 216px;
  font-size: 87px;
  letter-spacing: 15px;
}

header h3{
  top: 228px;
  font-size: 12px;
  letter-spacing: 2px;
  left: -3px;
}

/*
 * NAV CONTAINER  --> contains branding and utility-nav
 */

nav{
  position: relative;
  padding-left: 134px;
  padding-right: 156px;
  padding-top: 4px;
}

.branding{
  display: inline-block;
  position: absolute;
}

.logo-title{
  display: inline-block;
  position: absolute;
  width: 200px;
  left: 61px;
  bottom: 20px;
  text-transform: uppercase;
}

.utility-nav{
  display: inline-block;
  position: absolute;
  left: 986px;
  top: 11px;
  text-transform: uppercase;
  font-size: 21px;
}

.utility-nav a{
  /*display: inline-block;*/
  /*position: absolute;*/
  text-decoration: none;
  color: rgb(0,51,82);
}

.search-icon{
  display: inline-block;
  position: absolute;
  margin: 0 auto;
  height: 23.64px;
  bottom: 1px;
}


.clear-fix{       /*clears any floats for following elements*/
  clear: both;
}

/*
 * START OF WEBPAGE CONTAINER. CONTAINS ARTICLE & ASIDE.
 */

 .webpage{
   /*max-width: 1300px;
   margin: 0 auto;*/
   padding-top: 64px;
 }

/*
 * START OF ARTICLE CONTAINER.
 */

 article{
   position: absolute;
   width: 610px;
   left: 160px;
   float: left;
 }

 .engaging-headline{
   text-align: justify;
   font-size: 65px;
   line-height: 72px;
 }

 .author-info{
   margin-bottom: 33px;
 }

.article-image{
  border-radius: 50%;
  width: 22px;
  height: 22px;
}

.paragraph p{
  font-size: 19px;
}

.filter{
  margin-bottom: 31px;
  line-height: 26px;
}

.tart{
  line-height: 24px;
  margin-bottom: 24px;
}

.woah-exclamation{
  position: relative;
  font-size: 30px;
  text-transform: uppercase;
  color: rgb(0, 104, 182);
  padding-left: 15px;
  padding-top: 19px;
  padding-bottom: 7px;
  border-left: 2px solid rgb(211, 211, 211);
  left: 4px;
  margin-bottom: 31px;
}

.witch{
  line-height: 26px;
  margin-bottom: 31px;
}

.michael{
  line-height: 25px;
  margin-bottom: 18px;
}

/*
 * BUTTON CONTAINER
 */

.buttons a{
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.comment{
  /*position: absolute;*/
  /*width: 158px;*/
  /*height: 50px;*/
}

.comment i{
  position: relative;
  background-color: rgb(91, 103, 111);
  font-size: 18px;
  color: rgb(255, 255, 255);
  padding: 7px;
}

.comment a{
  position: relative;
  background-color: rgb(160, 179, 192);
  padding: 6px 10px 6px 9px;
  left: -4px;
  top: -1px;
}

.upload i{
  background-color: rgb(92, 104, 112);
  color: rgb(255, 255, 255);
  position: relative;
  font-size: 18px;
  padding: 7px;
  margin-left: 4px;
}

.upload a{
  background-color: rgb(160, 179, 192);
  position: relative;
  padding: 6px 14px 6px 12px;
  left: -4px;
  top: -1px;
}

.share i{
  background-color: rgb(0, 50, 83);
  color: rgb(255, 255, 255);
  position: relative;
  font-size: 18px;
  padding: 7px;
  margin-left: 2px;
}

.share a{
  background-color: rgb(0, 104, 182);
  position: relative;
  padding: 6px 13px 6px 11px;
  left: -4px;
  top: -1px;
}

 /*
  * START OF ASIDE CONTAINER.
  */

aside{
  position: absolute;
  box-sizing: border-box;
  width: 280px;
  right: 160px;
  float: right;
  padding-top: 14px;
}

.author-social{
  position: relative;
  height: 131px;
}

.aside-image{
  border-radius: 50%;
  width: 85px;
  height: 85px;
  margin-left: 91px;
}

.aside-name{
  text-align: center;
  margin-top: 12px;
  margin-bottom: 5px;
  margin-right: 9px;
  text-transform: uppercase;
  color: rgb(0, 104, 182);
}

.social{
  margin-bottom: 52px;
}

.social a{
  color: rgb(160, 179, 192);
  text-decoration: none;
}

.twitter{
  margin-left: 38px;
}

.facebook{
  margin-left: 9px;
}

.instagram{
  margin-left: 9px;
}

.paddleboard{
  width: 279px;
  height: 300px;
  margin-bottom: 9px;
}

.paddleboard:after{
  content: "";
  position: absolute;
  background-size: cover;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(50, 141, 200, 0.8);
}

.ad{
  margin-bottom: 45px;
  text-align: right;
}

.ad a{
  color: rgb(160, 179, 192);
}

h4{
  margin-bottom: 7px;
  text-transform: uppercase;
  font-size: 20px;
  color: rgb(0, 104, 182);
}

.note{
  width: 280px;
  line-height: 24px;
}

.clear-fix{       /*clears any floats for following elements*/
  clear: both;
}

/*
 * BEGINNING OF POPULAR POSTS
 */

.posts{
  padding-top: 943px;
}
 .popular-posts{
   position: relative;
   text-transform: uppercase;
   text-align: center;
   font-size: 65px;
   color: rgb(0, 50, 83);
   padding-top: 38px;
   border-top: 2px solid rgb(224, 231, 234);
 }

.post-photos img{
  width: 325px;
  height: 329px;
  margin-top: 43px;
}

.surf-dude{
  position: relative;
  left: -5px;
  z-index: 0;
}

.popular-posts-link-titles span{
  color: rgb(255, 255, 255);
}

/*.popular-posts-link-titles span:hover{
  background-color: rgba(82, 159, 202, 0.8);
}*/

.cool-post{
  position: relative;
  text-transform: uppercase;
  /*color: rgb(0, 50, 83);*/
  font-size: 30px;
  bottom: 47px;
  z-index: 1;
}

.beer-flight{
  position: relative;
  left: -9px;
  z-index: 0;
}

.post-title{
  position: relative;
  text-transform: uppercase;
  /*color: rgb(0, 50, 83);*/
  font-size: 30px;
  bottom: 47px;
  left: 20px;
  z-index: 1;
}

.bearded-guy{
  position: relative;
  left: -13px;
  z-index: 0;
}

.longer-post-title{
  position: relative;
  text-transform: uppercase;
  /*color: rgb(0, 50, 83);*/
  font-size: 30px;
  left: 178px;
  bottom: 84px;
  z-index: 1;
}

.longer-post-title-part-two{
  position: relative;
  text-transform: uppercase;
  /*word-break: normal;*/
  /*width: 325px;*/
  /*color: rgb(0, 50, 83);*/
  font-size: 30px;
  left: -76px;
  bottom: 47px;
  z-index: 1;
}

.liquor{
  position: absolute;
  right: 0;
  margin-right: 10px;
  z-index: 0;
}

.oh-cool{
    position: relative;
    text-transform: uppercase;
    /*color: rgb(0, 50, 83);*/
    font-size: 30px;
    bottom: 47px;
    left: -45px;
    z-index: 1;
}

/*
 * BEGINNING OF FOOTER
 */

.blue-footer{
  z-index: 2;
  background-color: rgb(0, 50, 83);
  position: relative;
  left: -5px;
  top: -33px;
  /*height: 96px;*/
}

.iron-yard-logo{
  position: relative;
  padding-top: 15px;
  padding-bottom: 15px;
  left: 151px;
}

.copyright{
  position: relative;
  left: 151px;
  top: -38px;
  color: rgb(255, 255, 255);
  font-size: 15px;
}

.footer-nav-links{
  position: relative;
  float: right;
  right: 141px;
  top: 42px;
  color: rgb(255, 255, 255);
  font-size: 15px;
}

.footer-nav-links span{
  margin-right: 9px;
}

.footer-nav-links span:nth-child(1){
  border-right: 2px solid rgb(92, 104, 112);
  padding-right: 6px;
}

.footer-nav-links span:nth-child(3){
  border-right: 2px solid rgb(92, 104, 112);
  border-left: 2px solid rgb(92, 104, 112);
  padding-right: 6px;
  padding-left: 6px;

}
