html{
  box-sizing: border-box;
}

.container{
  max-width: 1300px;
  margin: 0 auto;
}

h1,
h2,
h3{
  font-family: "Oswald", sans-serif;
}

header{
  background: #FFF url('https://images.unsplash.com/photo-1452723312111-3a7d0db0e024?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=774e99d16e3f3f0e4138be9d98e4f0f9') no-repeat;
  background-size: cover;
  height: 523px;
  position: relative; /*for absolutely positioned children*/
}

header:before{
  content: "";
  position: absolute;   /*allows me to stretch the image across the entire screen*/
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(16, 98, 170, 0.8)
}

header nav,
header h1,
header h3{
  position: relative;
}

header h1,
header h3{
  text-align: center;
}

header h1{
  text-transform: uppercase;
  top: 216px;
  font-size: 87px;
  letter-spacing: 15px;
}

header h3{
  top: 228px;
  font-size: 12px;
  letter-spacing: 2px;
  left: -3px;
}

/*
 * NAV CONTAINER  --> contains branding and utility-nav
 */

nav{
  position: relative;
  padding-left: 134px;
  padding-right: 156px;
  padding-top: 4px;
}

.branding{
  display: inline-block;
  position: absolute;
}

.logo-title{
  display: inline-block;
  position: absolute;
  width: 200px;
  left: 61px;
  bottom: 20px;
  text-transform: uppercase;
}

.utility-nav{
  display: inline-block;
  position: absolute;
  left: 986px;
  top: 11px;
  text-transform: uppercase;
  font-size: 21px;
}

.utility-nav a{
  /*display: inline-block;*/
  /*position: absolute;*/
  text-decoration: none;
  color: rgb(0,51,82);
}

.search-icon{
  display: inline-block;
  position: absolute;
  margin: 0 auto;
  height: 23.64px;
  bottom: 1px;
}


.clear-fix{       /*clears any floats for following elements*/
  clear: both;
}

/*
 * START OF SECTION CONTAINER. CONTAINS ARTICLE & ASIDE.
 */

 section{
   max-width: 1300px;
   margin: 0 auto;
   height: 1007px;
 }

/*
 * START OF ARTICLE CONTAINER.
 */

 article{
   width: 615px;
   margin-left: 162px;
   float: left;
 }

.article-image{
  border-radius: 50%;
  width: 22px;
  height: 22px;
}

 /*
  * START OF ASIDE CONTAINER.
  */

aside{
  /*display: inline-block;
  position: absolute;*/
  width: 280px;
  float: right;
  margin-right: 160px;
}

.aside-image{
  border-radius: 50%;
  width: 85px;
  height: 85px;
}

.paddleboard{
  display: block;
  position: absolute;
  width: 279px;
  height: 300px;
}

.paddleboard:after{
  content: "";
  position: absolute;
  background-size: cover;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(50, 141, 200, 0.8);
}
